h2 {
    color: var(--color-green) !important;
    font-size: var(--font-size6) !important;
    font-weight: 700 !important;
    text-align: center;
    text-transform: initial;
    margin: 10px 0 40px 0;
}

