<div class="form-group">
    <ion-textarea
        auto-grow = "true"
        debounce = "500"
        (ionChange) = "UpdateDescription($event)"
    >
    </ion-textarea>
</div>

<div class="form-group">
    <ion-input type="file" required multiple (change)="fileChangeEvent($event)" accept="image/png, image/jpeg, image/gif, audio/mp3"></ion-input>

    <div *ngFor="let photo of photos">
        <img [src]="photo" alt="" />
    </div>
</div>

<div class="form-group button">
	<ion-button (click)="Publish()" color="primary" expand="block">Publish</ion-button>
</div>
