@import "~/src/global.scss";

.menu {	
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 270px;
	box-shadow: 0 4px 10px 2px rgba(0,0,0,.08);

	.menu-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: var(--color-grey4);
		border-right: 1px solid var(--color-grey3);
		transition: all .5s ease-out;
		padding: 20px 30px;

		ion-item {
			cursor: pointer;
			--background: none;
			--background-activated: none;
			--background-focused: none;
			--background-hover: none;
			--ripple-color: transparent;
			--padding-start: 0;
	
			
			&.active {
				color: var(--color-purple);
			}
		}
	
		.menu-items {
			ion-item {
				--min-height: initial;
				font-size: var(--font-size2);
				font-weight: 600;
				margin: 0 0 20px 0;
			}
		}

		.btn-logout {
			position: absolute;
			left: 30px;
			right: 30px;
			bottom: 20px;
			--background: #999;
			border: 1px solid #666;
		}
	}
}

