<ion-content class="menu">
    <div class="menu-container">
        <div class="user-infos" *ngIf="currentUser">
            <ion-avatar slot="start" class="user-img">
                <img
                    *ngIf="currentUser.picture"
                    [src]="currentUser.picture"
                    alt=""
                />

                <span *ngIf="!currentUser.picture">
                    <ng-container *ngIf="currentUser.firstName">
                        {{ currentUser.firstName[0].toUpperCase() }}
                    </ng-container>
                </span>
            </ion-avatar>

            <ion-label class="user-details">
                <div>
                    {{ currentUser.firstName }} {{ currentUser.lastName }}
                </div>
            </ion-label>
        </div>

        <!-- <div class="icon-container" *ngIf="currentUser">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-icon name="mail-outline"></ion-icon>
        </div> -->

        <div class="loggin" *ngIf="!currentUser">
            <div class="title">Connexion</div>
            <form [formGroup]="form" (ngSubmit)="Login()" novalidate>
                <div class="form-group">
                    <ion-input
                        formControlName="email"
                        type="email"
                        placeholder="Email"
                        required
                    ></ion-input>
                    <div
                        style="color: red"
                        *ngIf="form.hasError('email', 'email') && isSubmitted == true"
                    >
                        Veuillez saisir un format d'adresse mail
                        correct
                    </div>
                    <div
                        style="color: red"
                        *ngIf="form.hasError('required', 'email') && isSubmitted == true"
                    >
                        Veuillez saisir une adresse mail
                    </div>
                </div>

                <div class="form-group">
                    <ion-input
                        formControlName="password"
                        type="password"
                        placeholder="Mot de passe"
                        required
                    ></ion-input>
                    <div
                        style="color: red"
                        *ngIf="form.hasError('required', 'password') && isSubmitted == true"
                    >
                        Veuillez saisir un mot de passe
                    </div>
                </div>

                <ion-button
                    type="submit"
                    color="primary"
                    expand="block"
                    >Connexion</ion-button
                >
                <p>Ou</p>
                <ion-button
                    color="primary"
                    expand="block"
                    (click)="OpenRegister()"
                    >S'inscrire</ion-button
                >

                <!--<div class="form-group already-account">
                    <p>
                        Already have an account? <span>Sign in to your Fairwai workspace!</span>
                    </p>
                    <a>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>-->
            </form>
        </div>

        <ion-button
            *ngIf="currentUser && currentUser.id"
            expand="block"
            class="btn-logout"
            (click)="Disconnect()">
            Déconnexion
        </ion-button>
    </div>
</ion-content>
