<div class="main-header">
  <ion-button
      slot = "end"
      color="primary"
      (click) = "NewPublication()">
    Create <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</div>

<ion-content>
  <ion-card class="post-container" *ngFor="let publication of publications">
    <ion-label class="title">{{publication.title}}</ion-label>
    <ion-label class="description">{{publication.description}}</ion-label>
    <div *ngIf="publication.publicationFiles.length > 0">
      <div *ngFor="let publicationFile of publication.publicationFiles">
        <img *ngIf="publicationFile.type == 'image'" [src]="publicationFile.fileString" alt="" />
        <audio
              *ngIf="publicationFile.type == 'audio'"
              controls
              [src]="publicationFile.fileSrc">
                  Your browser does not support the
                  <code>audio</code> element.
        </audio>
      </div>
    </div>
  </ion-card>
</ion-content>
